<header>
  <nav class="border-3 border-bottom navbar navbar-expand-lg py-md-7 py-3">
      <div class="container">
          <a class="navbar-brand me-md-11 me-0 py-0" href="index.html"><img class="me-md-5" width="53" height="53" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="logo"><div class="d-none d-md-inline-block"><span class="fs-4 align-middle me-1">7TAO</span><span class="fs-9">活動訂票網</span></div></a>
          <form class="d-flex" role="search">
              <div class="d-flex">
                  <input class="form-control border-2 px-md-7 py-2 fs-9" type="search" placeholder="探索活動" aria-label="Search">
                  <button class="btn btn-primary" type="button"><i class="icofont icofont-search-1 text-secondary"></i></button>
              </div>
            </form>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-lg-0 flex-grow-1 justify-content-end">
          <li class="nav-item">
            <a class="active d-block nav-link py-5 py-md-0 text-center" aria-current="page" href="#"><i class="icofont icofont-ui-file me-1"></i>REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="d-block nav-link py-5 py-md-0 text-center" href="log-in.html"><i class="icofont icofont-ui-user me-1"></i>LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>